@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');

.hero-section {
    min-height: 90vh;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

/* .hero-section h1 {
    font-size: 6rem;
    width: 60%;
    margin: auto;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
} */

.hero-section p {
    font-size: 1.4rem;
    width: 70%;
    margin: auto;
}

.purple-background {
    background-color: #520893;
}

.mein-heading h2 {
    color: white;
    font-family: poppins, sans-serif;
    font-weight: 500;
}
.mein-heading h2::after{
    content: "";
    width: 16%;
    height: 5px;
    background-color: #FEC732;
    display: block;
    margin: 10px auto;
    border-radius: 2px;
}
.mein-heading-purple h2 {
    color: #520893;
    font-family: poppins, sans-serif;
    font-weight: 500;
}
.mein-heading-purple h2::after{
    content: "";
    width: 16%;
    height: 5px;
    background-color: #FEC732;
    display: block;
    margin: 10px auto;
    border-radius: 2px;
}
.mein-heading-purple h1 {
    color: #520893;
    font-family: poppins, sans-serif;
    font-weight: 500;
}
.mein-heading-purple h1::after{
    content: "";
    width: 26%;
    height: 5px;
    background-color: #FEC732;
    display: block;
    margin: 10px auto;
    border-radius: 2px;
}